* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  min-height: 100%;
  background-image: url("/img/01.jpg");
}

.footer {
  background: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.main {
  background-color: hsl(0, 0%, 100%, 35%);
  flex: 70%;
  -ms-flex: 70%; /* IE10 */
  margin-top: 77px;
  padding: 20px;
}

.navbar {
  z-index: 1;
  background-color: #333;
  color: white;
  overflow: hidden;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  color: white;
  display: block;
  float: left;
  font-size: 18px;
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
}

.navbar a.active {
  color: white;
  text-decoration: underline;
}

.navbar .right {
  float: right;
}

.navbar a:hover {
  color: whites;
  text-decoration: underline;
}

.navbar a.logo {
  font-size: 25px;
  font-weight: bold;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.rsvp {
  border: 2px solid #e7e7e7;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
}

.rsvp:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 700px) {
  #full {
    display: none;
  }

  #mini {
    display: block;
  }

  .navbar a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  #full {
    display: inline-flex;
  }

  #mini {
    display: none;
  }

  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .row {
    flex-direction: column;
  }

  .overlay {
    overflow-y: auto;
  }
}
